<!DOCTYPE html>
<html>
<head>

<meta charset="ISO-8859-1">
<title>Daily Status Report</title>

</head>
<body>

<style>
table, td {
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px;
}

 th {
	background: #6F4242 !important;
	border: 1px solid black !important;
	color: white;
}

 table tr:nth-child(odd) {
	background-color: #ffffff;
}

table tr:nth-child(even) {
	background-color: #ffffff;
} 
</style>

<div class="row">
    <div class="col-lg-12">
         <h1 class="page-header">Daily Status Report <small>{{getDatetime | date:'dd-MMM-yyyy'}} </small></h1>
         
    </div>
</div>

<div id="pager" class="pager form-group" style="margin: 0 0;">
			<div class="col-sm-3"><h5 ><b class="text-primary"> Application: </b> {{selectedProjectName}}</h5>
			</div>
			
			<div class="col-sm-3"><h5 ><b class="text-primary"> Release:</b> {{selectedReleaseName}}</h5>
			</div>
			<div class="col-sm-3">
			<h5 ><b class="text-primary"> Defect Density: </b> {{dd}}</h5>
				 <!-- <li>
				 	<span style="float: left; font-weight: bold; color: olive;">Defect Density: <b> {{dd}}</b> </span> 
           		 </li> -->
			</div>
			
			<div class="col-sm-3">
			<h5 ><b class="text-primary"> Defect Severity Index: </b> {{dsi}}</h5>
				<!-- <li>
                  	<span style="float: right; font-weight: bold; color: olive;">Severity Index: <b>{{ dsi}}</b></span>
           		</li> -->
			</div>
</div>
<hr>


<div ng-controller="dailystatuscontroller" ng-init="onDsrLoad()">
<div class="row" >
	<div class="col-lg-12">
	
	<!--TOP start -->
		<div id="top">
		<div class="col-lg-12">
		<!-- <div class="headers" style="border: 1px solid grey; font-weight: bold;">Testcase Execution Status</div>  -->
		<div class="pager form-group" style="margin: 0 0;">
				<div class="col-lg-12 form-group">
           				 <li>
                  			<span id="headers" align="right" style=" font-weight: bold; color: black;">Testcase Execution Status</b> </span> 
           				</li>
           				</div>
		</div> 
		
		
		<div class="col-lg-6">
		
			<div id="topGrid" class="table-responsive" style="width: 100%; height: 100%; float: left;">
				<table class="table">
					<thead>
						<tr>
							<th>Status</th>
							<th>Count</th>
							<th>Percentage (%)</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="user in tcstatus">
							<td>{{user.status}}</td>
							<td>{{user.count}}</td>
							<td style="font-weight: bold;">{{user.percentage}}</td>
						</tr>

					</tbody>
				</table>
			</div>
			
		</div>
		
		<div class="col-sm-6 form-group">
		
		<div id="topchart" style="float: left; width: 95%;">
			<div id="tcsChart" ng-init="plottcsChart()"
					style="width: 95%; height: 20%; border: 1px gray; border-style: dotted;">
			</div>
		</div> 
		
		</div>
		</div>
		</div>
		
		<!--TOP end -->
		
		<!--Middle start -->
		<div id="middle">
		
		<div class="col-lg-12">
		<!-- <div class="headers" style="border: 1px solid grey; font-weight: bold; background-color: #659D32;">Defect Status</div> -->
		<div  class="pager form-group" style="margin: 0 0;">
				<div class="col-sm-12 form-group">
           				 <li>
                  			<span id="headers" style="font-weight: bold; color: black;">Defect Status</b> </span> 
           				</li>
           				</div>
		</div>
		
		<!-- <div id="pager" class="pager form-group" style="margin: 0 0;">
			<div class="col-sm-6">
				 <li>
				 	<span style="float: left; ; font-weight: bold; color: olive;">Defect Density: <b> {{dd}}</b> </span> 
           		 </li>
			</div>
			
			<div class="col-sm-6">
				<li>
                  	<span style="float: right; font-weight: bold; color: olive;">Severity Index: <b>{{ dsi}}</b></span>
           		</li>
			</div>
		</div> -->
		
		
		<div class="col-sm-12">
			<div id="bottomGrid"  style="width: 100%;">
				<table class="table">
					<thead>
						<tr>
							<th>Status/Severity</th>
							<th>1-Urgent</th>
							<th>2-High</th>
							<th>3-Medium</th>
							<th>4-Low</th>
							<th>Total Defects</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="user in names">
							<td>{{user.statusSeverity}}</td>
							<td>{{user.Urgent}}</td>
							<td>{{user.High}}</td>
							<td>{{user.Medium}}</td>
							<td>{{user.Low}}</td>
							<td>{{user.Total}}</td>
						</tr>

					</tbody>
				</table>
			</div>
		
		</div>
		</div>
		</div>
		<!--Middle End -->
		
		<!--Bottom start -->
		<div id="bottom">
		<div class="col-lg-12">
		<div class="col-sm-6 form-group">
			<div id="statusWise" ng-init="plotstatusWiseChart()"
				style="float: left; height: 30%; width: 100%; border: 1px gray; border-style: dotted;"></div>
		</div>
		
		<div class="col-sm-6 form-group">
			<div id="severityWise" ng-init="plotseverityWiseChart()"
				style="float: right; width: 100%; border: 1px gray; border-style: dotted;"></div>
		</div>
		
		<div class="col-sm-6 form-group">
			<!-- <div id="tcsChart" ng-init="plottcsChart()"
					style="width: 100%; border: 1px gray; border-style: dotted;">
			</div> -->
		</div>
		</div>
		</div>
		<!--Bottom end -->
	</div>
</div>
</div>
</body>
</html>
