<!DOCTYPE html>
<html>
<head>

<meta charset="ISO-8859-1">
<title>Daily Status Report</title>
	
</head>
<body>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Trend Reports</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            
          
            

<div ng-controller="trendController">

			<div class="row" >
				<div class="col-lg-12" >
								<!-- <div class="col-sm-3 form-group">
									<p class="input-group">
										<input type="text" class="form-control"
											datepicker-popup="{{format}}" ng-model="dt" is-open="openedFromDate"
											min-date="minDate" max-date="'2015-06-22'"
											datepicker-options="dateOptions"
											date-disabled="disabled(date, mode)" ng-required="true"
											close-text="Close" /> <span class="input-group-btn">
											<button type="button" class="btn btn-default"
												ng-click="openFromDate($event,'openedFromDate')">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
									</p>
								</div>	
								
								 <div class="col-sm-3 form-group">
									<p class="input-group">
										<input type="text" class="form-control"
											datepicker-popup="{{format}}" ng-model="dt" is-open="openedToDate"
											min-date="minDate" max-date="'2015-06-22'"
											datepicker-options="dateOptions"
											date-disabled="disabled(date, mode)" ng-required="true"
											close-text="Close" /> <span class="input-group-btn">
											<button type="button" class="btn btn-default"
												ng-click="openToDate($event,'openedToDate')">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
									</p>
									</div> 
	
									<div class="col-sm-3 form-group">
										<button type="button" class="btn btn-primary" ng-click="generateCharts()">Generate Reports</button> 
									</div> -->
									<div class="col-sm-3 form-group">
								<p class="input-group">
								 <div class="radio">
                                 <label for="weekly">
                                   <input id="weekly" type="radio" name="weekly" value="weekly" ng-model="range" ng-change=weekly()/>
                                 Weekly
                                 </label>
                                 <label for="monthly">
                                   <input id="monthly" type="radio" name="weekly" value="monthly" ng-model="range" ng-change=monthly()/>
                                 Monthly
                                 </label>
                               </div>
                               </p>
                               </div>
                              
								
								<!-- <div>{{dt | date:'fullDate' }}</div> -->	
								
								
								 <div class="col-sm-3 form-group" >
									<p class="input-group">
										<input type="text" id="todate" class="form-control"
											datepicker-popup="{{format}}" ng-model="maxDate" is-open="openedToDate"
											min-date="minDate" max-date="maxDate"
											datepicker-options="dateOptions"
											date-disabled="disabled(date, mode)" ng-required="true"
											close-text="Close" /> <span class="input-group-btn">
											<button type="button" class="btn btn-default"
												ng-click="openToDate($event,'openedToDate')">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
									</p>
									</div> 
	
									<div class="col-sm-3 form-group">
										<button type="button" class="btn btn-primary" ng-click="generateCharts()">Generate Reports</button> 
									</div>
									
			<!-- Trend Charts -->
			
				<!-- Row 1 -->
			<div class="col-lg-12" >
				<div class="col-sm-4 form-group">
						<div id=testcaseexec>
      					</div>
				</div>
				
				<div class="col-sm-4 form-group">
						<div id="testcasestat">
       </div>
				</div>
				
				<div class="col-sm-4 form-group">
							<div id="defectsopen">
       </div>	
				</div>
			</div>
			
			
			<!-- Row 2 -->
			
			
			<div class="col-lg-12" >
				<div class="col-sm-4 form-group">
								<div id="defectdensity">
       </div>
				</div>
				
				<div class="col-sm-4 form-group">
								<div id="defectdensityindex">
       </div>
				</div>
				
				<div class="col-sm-4 form-group">
						<div id="badfix">
       </div>		
				</div>
			</div>
			
			
			<!-- Row 3 -->
			<div class="col-lg-12" >
				<div class="col-sm-4 form-group">
								 <div id="defectaccept">
       </div>
				</div>
				
				<div class="col-sm-4 form-group">
								<div id="defectageing">
       </div>
				</div>
				
				<div class="col-sm-4 form-group">
								<div id="downtimebreak">
       </div>
				</div>
			</div>
			
			
			<!-- Row 4 -->
			<div class="col-lg-12" >
				<div class="col-sm-4 form-group">
								<div id="defectseveritybreak">
       </div>
				</div>
				
				<div class="col-sm-4 form-group">
								<div id="defecttypebreak">
       </div>
				</div>
				
				<div class="col-sm-4 form-group">
							<div id="defectRootbreak">
       </div>	
				</div>
			</div>
				</div>
						
							
							
		<!-- /.col-lg-12 -->
			</div>
			</div>

</body>
</html>