<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="true">

	<appender name="rollingFileAppender" class="org.apache.log4j.RollingFileAppender"> 
		<param name="File" value="D://Anil//DashBoard//logs//Dashboard_sqm.log"/> 
		<param name="MaxBackupIndex" value="10"/> 
		<param name="MaxFileSize" value="10MB"/> 
		<param name="Append" value="true"/>
		<param name="ImmediateFlush" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d : %t : %-5p [%C{2}] - %m%n" />
		</layout>
	</appender> 
	
	<logger name="org.springframework" additivity="false">
		<level value="INFO" />
		<appender-ref ref="rollingFileAppender"/>
		<appender-ref ref="CA"/>
	</logger>

	<logger name="org.apache.commons.httpclient">
		<level value="INFO" />
		<appender-ref ref="rollingFileAppender"/>
		<appender-ref ref="CA"/>
	</logger>
	<logger name="com.sqm.dashboard">
		<level value="TRACE" />
		<appender-ref ref="rollingFileAppender"/>
	</logger>	
	<root>
		<level value="TRACE"/>	
	</root>
</log4j:configuration>
