<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<!--Rahul 
		NOTE: When adding a new logger use additivity attribute to let 
		logback decide whether to give priority of logging level of child over the 
		parent or not.Use "additivity=true" when child logger defined with lower level 
		of logging has to appear in appender irrespective of a higher logging level defined 
		in parent For eg: define ROOT level=FATAL then define org.hibernate level=WARN 
		On setting additivity=true for org.hibernate logger, hibernate WARN messages 
		will appear in console ,however for other classes for which logger may not 
		be declared the level of the root will be considered -->
		
	

	<!-- spring security -->
	<logger name="org.springframework.security" additivity="true"
		level="WARN">
	</logger>
	<!-- Logs for identifying what all filter chains have been added -->
	<logger name="org.springframework.security.web.DefaultSecurityFilterChain"
		additivity="false" level="WARN">
	</logger>

	<!-- Spring framework logging -->
	<logger name='org.springframework' additivity="true" level="DEBUG">
	</logger>
	<!-- Logs for checking environment variable setting -->
	<logger name='org.springframework.core.env' level="ERROR">
	</logger>
	<!-- Logs for spring component scan -->
	<logger
		name='org.springframework.core.io.support.PathMatchingResourcePatternResolver'
		level="ERROR">
	</logger>
	<logger name='org.springframework.beans' level="ERROR">
	</logger>
	<!-- Logs for Classpath scanner which cheks for classes with component annotations -->
	<logger name='org.springframework.context.annotation' level="ERROR">
	</logger>
	<logger name='org.springframework.web.servlet' level="ERROR">
	</logger>
	<logger name='org.springframework.web.servlet.handler' level="ERROR">
	</logger>
	<!-- Logs for the RequestMappingHandlerMapping which will show all active 
		REST services -->
	<logger name='org.springframework.web.servlet.mvc.method.annotation'
		level="ERROR">
	</logger>
	<logger name='org.springframework.web.context.support' level="ERROR">

	</logger>
	<!-- Logs for identifying all methods makred with transactional annotations 
		start -->
	<logger name='org.springframework.transaction.annotation' level="ERROR">

	</logger>
	
	<logger
		name='org.springframework.aop.framework.autoproxy.InfrastructureAdvisorAutoProxyCreator'
		level="ERROR">
	</logger>
	<!--Logs for identifying all methods makred with transactional annotations 
		end -->
	<!-- CAstor XML loggin -->
	<!-- Logs for showing configured driver manager datasource binding -->
	<logger name="org.springframework.jdbc.datasource" additivity="true" level="INFO"></logger>
	
	
	<!-- Logs for eh cache configuration,loading etc -->
	<logger name="org.springframework.cache.ehcache" additivity="true" level="ERROR"></logger>
	<!-- Logs for jndi configurations not relevant to amp -->
	<logger name="org.springframework.jndi" additivity="true" level="ERROR"></logger>
	<!-- Application logging start -->
	<logger name="com.sqm.dashboard" additivity="true"
		level="DEBUG">
	</logger>
	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
